#adminContent {
    width: 100%;
}

#panel {
    float: left;
    width: 80%;
}

#sidebar {
    float: left;
    width: 20%;
}

.sidebarMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebarHidden {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
