#logoFont {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}


#logoFont a {
    text-decoration: none;
    color: black;
}

#container {
    width: 100%;
    min-height: 735px;
}

#nav {
    width: 90%;
}

#nav img {
    max-width: 30px;
    min-width: 20px
}

#logo {
    float: left;
    margin-left: 50px;
}

#menu {
    float: right;
}

.menuOl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.liMenu {
    display: inline-block;
    line-height: 80px;
    font-size: 20px;
    margin-left: 30px;
}

.liMenu a:link {
    color: black;
    text-decoration: none;
}

.liMenu a:visited {
    text-decoration: none;
    color: black;
}

#login {
    color: blue;
    font-weight: bold;
}

.reg {
    margin-left: 5px;
}


#register {
    color: red;
    font-weight: bolder;
}

#content {
    width: 100%;
    margin-left: 0px;
}

img {
    min-width: 1542px;
    margin-left: 0px;
}

.clear {
    clear: both;
}

#buttonsSection {
    position: absolute;
    right: 500px;
    width: 500px;
    padding: 10px;
    margin-top: 20px;
}



.myButton {
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 80px;
    width: 230px;
    opacity: 1;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}


.myButton:active {
    position:relative;
    top:1px;
}

#footer {
    width: 100%;
    display: inline-block;

}

#loginForm {
    width: 65%;
    margin-left: 500px;
    margin-top: 50px;
}

#registerForm {
    width: 65%;
    margin-left: 500px;
    margin-top: 50px;
}

#services {
    width: 100%;
    margin-top: 150px;
}

#services hr {
    width: 35%;
    margin-top: -40px;
}

#team hr {
    width: 35%;
    margin-top: -40px;
    margin-bottom: 50px;
}

#team {
    width: 100%;
    margin-top: 100px;
}

.person {
    width: 30%;
    float: left;
    margin-left: 50px;
}

.personImg {
    width: 70%;
}

.personImg img {
    min-width: 330px;
}

.personName {
    font-family: 'Caveat', cursive;
    font-size: 30px;
}