#logoFont {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}


#logoFont a {
    text-decoration: none;
    color: black;
}

#container {
    width: 100%;
}

#nav {
    width: 90%;
}

#logo {
    float: left;
    margin-left: 50px;
}

#menu {
    float: right;
}

.menuOl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.liMenu {
    display: inline-block;
    line-height: 80px;
    font-size: 20px;
    margin-left: 30px;
}

.liMenu a:link {
    color: black;
    text-decoration: none;
}

.liMenu a:visited {
    text-decoration: none;
    color: black;
}

#login {
    color: blue;
    font-weight: bold;
}

.reg {
    margin-left: 5px;
}


#register {
    color: red;
    font-weight: bolder;
}

#content {
    width: 100%;
    margin-left: 0px;
}

img {
    min-width: 1542px;
    margin-left: 0px;
}

.clear {
    clear: both;
}

#buttonsSection {
    position: absolute;
    right: 550px;
    width: 500px;
    padding: 10px;
    margin-top: 20px;
}



.myButton {
    background-color:#7892c2;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:26px;
    padding:21px 56px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
    background-color:#476e9e;
}
.myButton:active {
    position:relative;
    top:1px;
}

